body {
  margin: 0 auto;
  font-family: Verdana,Geneva,sans-serif; }

.container {
  background: #f6f6ef;
  max-width: 85%;
  margin: 0 auto; }

.line {
  border-top: 3px solid orange;
  flex-grow: 1;
  margin: 0 10px; }
